:root{
    --nav-margin:10vw;
    --black:#000;
    --white:#fff;
    --shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    --search-margin:4vh;
    --raduis:4px;
    --dark:#202C37;
    --light-dark:#2B3945;
    --dark-white:rgba(238, 238, 238, 0.794);
}

.dark{
    --black:#fff;
    --white:#2B3945;
    --dark-white:#202C37;
}

*,*::after,*::before{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: sans-serif;
 color: var(--black);
}

body{
    font-size: 16px;
}
header{
    width: 100%;
    position: relative;
    background-color: var(--white);
    height: 7vh;
    box-shadow: var(--shadow);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logo{
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black);
    font-size: 1.5em;
    margin-left: var(--nav-margin);
}
.dark_mode{
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: var(--nav-margin);
}

.dark_mode svg{
    height: 20px;
    margin-right: calc(var(--nav-margin) - 6vw);
    transform: rotate(-20deg);
    cursor: pointer;
}

.dark_mode svg path{
    fill: var(--black);
}



.dark_mode p{
    font-size: 0.8em;
    font-weight: 600;
}

main{
    padding-top: var(--search-margin);
    min-height: 93vh;
    background-color: var(--dark-white);
}

.search_area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.search_box{
    margin-left: var(--nav-margin);
    display: flex;
    height: 50%;
    background-color:var(--white);
    padding:25px 10px;
    border-radius: var(--raduis);
    justify-content: center;
    align-items: center;
}
.search_box input{
    outline: none;
    background-color: var(--white);
    border: 0;
    height: 30px;
    width: 400px;
    margin-left: 1vw;
}

.search_box svg{
    color: #858599;
    margin-left: 1.5vw;
    height: 15px;
}

.search_area select{
    background-color: var(--white);
    border: 1px var(--black) solid;
    border-radius: var(--raduis);
    padding-left: 1vw;
    height: 50px;
    width: 150px;
    margin-right: var(--nav-margin);
}

.flag_container{
    padding: 50px 0 50px 50px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25em, 1fr) );
    row-gap: 40px;
    width: 100%;
    min-height: calc(100% - 7vh);
}

.card{
    border-radius: var(--raduis);
    background-color: var(--white);
    box-shadow: var(--shadow);
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.card .card_img{
    width: 320px;
    height: 160px;
}

.card_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card_content{
    padding: 20px;
}

.population,.region,.capital{

    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}


@media (max-width:768px) {
    .flag_container{
        padding-top: 10vh !important;
        place-items: start center;
    }
    body{
        font-size: 14px;
    }
    .search_area{
        flex-wrap: wrap;
    }
    div.search_box{
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }
    .search_area select{
        margin-top: 15px;
        margin-left:auto;
    }


}

@media (max-width:568px) {
    body{
        font-size: 12px !important;
    }
    .search_box svg{
        height: 2em;
        margin-right: 2em;
    }
    div.card{
        width: 100%;
    } 
    .flag_container{
        padding-top: 16vh !important;
        place-items:start center;
        padding-left: 10px;
    }

}

